/*

Project Name :  Neo CSS Download Button Two(silver-two)
Version :  1.0
Author :  Indaam || Indam || Irham Kendeni. Is same.
Author Url :  http: //www.indaam.com
Check for Update &amp;
	 report bugs:  http: //www.indaam.com/projects/css/neo-download-button
Inspirated by :  http: //www.designrshub.com/2011/11/35-free-vector-download-button-psd-for.html
Check for Update & report bugs:  http: //www.indaam.com/projects/css/neo-download-button
CSS license :  Copyleft, Public domain (free for all and free for commerical projects)

copyleft :  http: //en.wikipedia.org/wiki/Copyleft
Public domain :  http: //en.wikipedia.org/wiki/Public_domain

Changelog
v1.0 2012-01-06 (Release)
v1.1 2012-03-10
* Edit core

How to Usage?
Add this style, and using tag A than set the value of atribut class;
	For sample;
	one :  <a class='neo-download-two-silver-two' href='#1'>download</a>
	two :  <a class='neo-download-two-silver-two style-two' href='#1'>download</a>*/


/* Framework */
.neo-download-two-silver-two{
	outline: none;
	border: none;
	display:block;
	margin: 0;
	overflow:hidden;
	text-decoration: none;
	padding: 19px 15px 17px;
	text-align: center;
	text-transform: uppercase;
	font: normal bold 18px/17px Helvetica, Arial, sans-serif;
	float: left;
	/* border-radius */
-ms-border-radius: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	/* End border-radius */

	}

.neo-download-two-silver-two:before,/* line 1px top */
.neo-download-two-silver-two:after{
	/* line 1px bottom */
position: relative;
	content: '';
	height: 1px;
	display:block;
	margin: 0 auto
	}

.neo-download-two-silver-two:before{
	/* line 1px top */
width: 90%;
	opacity: 0.6;
	top: -19px
	}

.neo-download-two-silver-two:after{
	/* line 1px bottom */
opacity: 0.2;
	top: 17px
	}

.neo-download-two-silver-two:hover{
	cursor:  pointer
	}

.neo-download-two-silver-two:hover:after{
	opacity: 0.4
	}

.neo-download-two-silver-two:hover:before{
	opacity: 0.8
	}

.neo-download-two-silver-two:focus,
.neo-download-two-silver-two:active{
	outline: none;
	position: relative;
	top: 3px
	}

.neo-download-two-silver-two:focus:before,
.neo-download-two-silver-two:active:before,
.neo-download-two-silver-two:focus:after,
.neo-download-two-silver-two:active:after{
	opacity: 0.2
	}

/* style-two */
.style-two{
	line-height: 5px;
	font-size:  16px;
	/* border-radius */
border-radius: 14px 14px 17px 17px;
	-webkit-border-radius: 14px 14px 17px 17px;
	-moz-border-radius: 14px 14px 17px 17px;
	-ms-border-radius: 14px 14px 17px 17px;
	/* End border-radius */
padding: 0 17px 19px 17px
	}

.style-two:before{
	/* rounded top */
top: 0;
	width: 116%;
	left: -8%;
	padding: 8px 0;
	border-radius: 7px 7px 13px 13px;
	-moz-border-radius: 7px 7px 13px 13px;
	-webkit-border-radius: 7px 7px 13px 13px;
	-ms-border-radius: 7px 7px 13px 13px;
	background: rgba(255, 255, 255, 0.8)!important;
	background:  radial-gradient( 50% 90%, ellipse, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%)!important;
	background:  -moz-radial-gradient( 50% 90%, ellipse, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%)!important;
	background:  -webkit-radial-gradient( 50% 90%, ellipse, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%)!important;
	background:  -o-radial-gradient( 50% 90%, ellipse, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%)!important
	}

.style-two:after{
	/* line 1px bottom */
top: 19px
	}

/* End style-two */
/* End Framework */
/* Set Color */
.neo-download-two-silver-two{
	color: #9a9a9a;
	/* text shadow */
text-shadow: 0 2px 1px #dfdfdf;
	/* End text shadow */
/* background and gradient */
background: #d7d7d7;
	background:  radial-gradient( 50% -10%, ellipse, #efefef 0%, #d7d7d7 70%, #c6c6c6c 100%);
	background:  -moz-radial-gradient( 50% -10%, ellipse, #efefef 0%, #d7d7d7 70%, #c6c6c6c 100%);
	background:  -webkit-radial-gradient( 50% -10%, ellipse, #efefef 0%, #d7d7d7 70%, #c6c6c6c 100%);
	background:  -o-radial-gradient( 50% -10%, ellipse, #efefef 0%, #d7d7d7 70%, #c6c6c6c 100%);
	background:  -ms-radial-gradient( 50% -10%, ellipse, #efefef 0%, #d7d7d7 70%, #c6c6c6c 100%);
	background-image:  -webkit-gradient(radial,/* Old webkit */
50% -10%, 0, 90 90, 360, color-stop(0, #efefef), color-stop(20%, #d7d7d7), color-stop(100%, #c6c6c6c));
	/* End background and gradient */
/* box shadow */
box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #b5b3b3, 0 4px 0 #b5b3b3, 0 5px 0 #a8a8a8, 0 5px 2px #b5b3b3, 0 5px 6px #b5b3b3;
	-moz-box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #b5b3b3, 0 4px 0 #b5b3b3, 0 5px 0 #a8a8a8, 0 5px 2px #b5b3b3, 0 5px 6px #b5b3b3;
	-webkit-box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #b5b3b3, 0 4px 0 #b5b3b3, 0 5px 0 #a8a8a8, 0 5px 2px #b5b3b3, 0 5px 6px #b5b3b3;
	-o-box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #b5b3b3, 0 4px 0 #b5b3b3, 0 5px 0 #a8a8a8, 0 5px 2px #b5b3b3, 0 5px 6px #b5b3b3;
	-ms-box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #b5b3b3, 0 4px 0 #b5b3b3, 0 5px 0 #a8a8a8, 0 5px 2px #b5b3b3, 0 5px 6px #b5b3b3;
	/* End box shadow */

	}

.neo-download-two-silver-two:before{
	/* line 1px top */
/* background and gradient */
background: #dbdbdb;
	/*c1*/
background:  linear-gradient(left, transparent 0%, #dedede 20%, #efefef 50%, #dedede 80%, transparent 100%);
	background:  -moz-linear-gradient(left, transparent 0%, #dedede 20%, #efefef 50%, #dedede 80%, transparent 100%);
	background:  -webkit-linear-gradient(left, transparent 0%, #dedede 20%, #efefef 50%, #dedede 80%, transparent 100%);
	background:  -o-linear-gradient(left, transparent 0%, #dedede 20%, #efefef 50%, #dedede 80%, transparent 100%);
	background:  -ms-linear-gradient(left, transparent 0%, #dedede 20%, #efefef 50%, #dedede 80%, transparent 100%);
	background: -webkit-gradient( linear, left bottom, right bottom, color-stop(0%, transparent), color-stop(40%, #dedede), color-stop(50%, #efefef), color-stop(60%, #dedede), color-stop(100%, transparent));
	/* End background and gradient */

	}

.neo-download-two-silver-two:after{
	/* line 1px bottom */
/* background and gradient */
background: #dedede;
	background:  linear-gradient(left, transparent 0%, #dedede 30%, #eaeaea 50%, #dedede 70%, transparent 100%);
	background:  -moz-linear-gradient(left, transparent 0%, #dedede 30%, #eaeaea 50%, #dedede 70%, transparent 100%);
	background:  -webkit-linear-gradient(left, transparent 0%, #dedede 30%, #eaeaea 50%, #dedede 70%, transparent 100%);
	background:  -o-linear-gradient(left, transparent 0%, #dedede 30%, #eaeaea 50%, #dedede 70%, transparent 100%);
	background:  -ms-linear-gradient(left, transparent 0%, #dedede 30%, #eaeaea 50%, #dedede 70%, transparent 100%);
	background: -webkit-gradient(/* old webkit */
linear, left bottom, right bottom, color-stop(0%, transparent), color-stop(40%, #dedede), color-stop(50%, #eaeaea), color-stop(60%, #dedede), color-stop(100%, transparent));
	/* End background and gradient */

	}

.neo-download-two-silver-two:hover{
	/* background and gradient */
background: #c6c6c6c;
	background:  radial-gradient( 50% -10%, ellipse, #dedede 0%, #c6c6c6c 70%, #bcbaba 100%);
	background:  -moz-radial-gradient( 50% -10%, ellipse, #dedede 0%, #c6c6c6c 70%, #bcbaba 100%);
	background:  -webkit-radial-gradient( 50% -10%, ellipse, #dedede 0%, #c6c6c6c 70%, #bcbaba 100%);
	background:  -o-radial-gradient( 50% -10%, ellipse, #dedede 0%, #c6c6c6c 70%, #bcbaba 100%);
	background:  -ms-radial-gradient( 50% -10%, ellipse, #dedede 0%, #c6c6c6c 70%, #bcbaba 100%);
	background-image:  -webkit-gradient(radial, 50% -10%, 0, 90 90, 360, color-stop(0, #dedede), color-stop(20%, #c6c6c6c), color-stop(100%, #bcbaba));
	/* End background and gradient */

	}

.neo-download-two-silver-two:focus,
.neo-download-two-silver-two:active{
	/* text shadow */
text-shadow:  -1px -1px 0 #a8a8a8;
	-moz-text-shadow:  -1px -1px 0 #a8a8a8;
	-webkit-text-shadow:  -1px -1px 0 #a8a8a8;
	-ms-text-shadow:  -1px -1px 0 #a8a8a8;
	/* End text shadow */
/* box shadow */
box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #a8a8a8, 0 3px 2px #b5b3b3, 0 3px 6px #b5b3b3;
	-moz-box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #a8a8a8, 0 3px 2px #b5b3b3, 0 3px 6px #b5b3b3;
	-webkit-box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #a8a8a8, 0 3px 2px #b5b3b3, 0 3px 6px #b5b3b3;
	-ms-box-shadow: 0 -1px 1px rgba(181, 179, 179, 0.4), /* #b5b3b3 and opacity 40% */
0 1px 0 #b5b3b3, 0 2px 0 #b5b3b3, 0 3px 0 #a8a8a8, 0 3px 2px #b5b3b3, 0 3px 6px #b5b3b3;
	/* End box shadow */

	}

/* End Set Color */
